:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-yellow: #ffbf47;
  --basic-blue: #3bbce3;
  --basic-lilac: #dc91d8;
  --basic-greenlight: #8ed78f;
  --basic-yellowlight: #ffd180;
  --basic-success: #5fbb2d;
  --basic-warning: #ffbf47;
  --basic-error: #ba2732;
  --basic-lightgrey: #eaeaea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuorum" "Arial", sans-serif;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
p {
  margin: 0;
  padding: 0;
}

/* Grid */

.page {
  height: 100%;
  min-width: 960px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Хедер общий */

header {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-background);
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

.header-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0 auto;
  background-color: #293449;
}

.header-top-wraper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  max-height: 42px;
  margin: 0 auto;
}

.header-logo {
  padding: 13px 0 0 0;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: var(--basic-error);
}

.header-top path,
circle {
  opacity: 0.3;
}

.search-form {
  display: inline;
}

.search-form input {
  margin: 0 0 0 -20px;
  padding: 12px 0px 10px 42px;
  width: 271px;
  border: none;
  outline: none;
  background-color: #293449;
  border: none;
  background-image: url("../img/icon-search-grey.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.search-form input:hover {
  background-image: url("../img/icon-search-white.svg");
}

.search-form input:focus {
  background-color: var(--basic-white);
  color: black;
  border: none;
  background-image: url("../img/icon-search-red.svg");
}

input::-webkit-input-placeholder {
  color: var(--basic-white);
}

input::-moz-placeholder {
  color: var(--basic-white);
}

.search-form:hover .search-icon {
  opacity: 1;
}

.search-form input:focus {
  fill: var(--basic-red);
}

.header-top a {
  color: var(--basic-white);
}

.header-top a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.bookmarks {
}

.cart {
  width: 136px;
  text-align: center;
}

.added {
  background-color: var(--basic-red);
}

.header-link {
  padding: 10px 0 0 0;
}

.header-link:hover .bookmark-icon,
.header-link:hover .cart-icon {
  opacity: 1;
}

.header-link:active .bookmark-icon,
.header-link:active .cart-icon {
  opacity: 0.3;
}

.added {
  background-color: var(--basic-red);
}

.header-top .order {
  box-sizing: border-box;
  width: 150px;
  padding: 9px 0px 0px 0px;
  background-color: var(--basic-success);
}

.header-top .order:active {
  background-color: var(--basic-green);
}

.header-about {
  margin: 43.5px auto;
  display: flex;
  width: 940px;
  justify-content: space-between;
}

.header-about h1 {
  display: inline-block;
  width: 227px;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: var(--basic-red);
}

.contact-info {
  text-align: center;
}

.phone {
  width: 270px;  
  margin: 2px 0px 0px 15px;
  padding: 4px 0 5px 28px;
  border: 3px solid white;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;  
  background-position: 36px 10px;
  text-align: center;
}

.phone a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-about address {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
}

.logged,
.logged-in {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.logged-in {
  list-style: none;
  width: 299px;
  flex-wrap: wrap;
}

.logged-in li:nth-child(1) {
  width: 299px;
}

.logged-in li:last-child {
  list-style: outside;
  color: #32425c;
}

.logged-in li:last-child:hover {
  list-style: outside;
  color: var(--basic-red);
}

.logged-in li:last-child:active {
  list-style: outside;
  color: var(--basic-greylight);
}

.login,
.registration {
  line-height: 21px;
  color: #000000;
  background-color: var(--basic-white);
}

.login {
  display: block;
  text-align: center;
  width: 121px;
}

.registration {
  display: block;
  text-align: center;
  width: 150px;
}

.login:hover,
.registration:hover {
  color: var(--basic-red);
}

.login:active,
.registration:active {
  color: var(--basic-greylight);
}

.login:hover .login-icon {
  fill: var(--basic-grey);
}

.login:active .login-icon {
  fill: var(--basic-greylight);
}

/* Основной контент главной страницы */

/* Блок с карточками и слайдером */

.products {
  width: 940px;
  margin: 0 auto;
}

.products-items {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  list-style: none;
}

.products-items h3 {
  margin: 0;

  line-height: 30px;
  color: #ffffff;
}

.products-items a {
  display: block;
  width: 135px;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}

.products-items p {
  line-height: 24px;
  color: #ffffff;
}

.product-material {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-color: #ffbf47;
}

.product-tool {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 194px 31px;
  background-color: #3bbce3;
}

.product-tech {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-color: #dc91d8;
}

.product-slider {
  position: relative;
  width: 620px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #645a58;
}

.product-slider .slide-button {
  display: block;
  position: absolute;
  left: 24px;
  bottom: 27px;
  width: 192px;
  background-color: var(--basic-red);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-perforator {
  background-image: url("../img/perforator-slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide-drill {
  background-image: url("../img/drill-slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider .slide-title {
  margin: 0;

  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider p {
  line-height: 24px;
  color: #ffffff;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: #ee3643;
}

.product-sale {
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 31px;
  grid-column-start: 3;
  grid-row-start: 2;
  background-color: #8ed78f;
}

.product-delivery {
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  grid-column-start: 3;
  grid-row-start: 3;
  background-color: #ffc047;
}

/* Блок с популярными товарами */

.popular-items {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}

.popular-items-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular-items-header h2 {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-items-header a {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--basic-red);
}

.popular-list {
  display: grid;
  width: 940px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
}

/* Блок с популярными производителями */

.popular-manufactures {
}

.popular-manufactures-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular-manufactures-header h2 {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-manufactures-header a {
  min-width: 192px;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--basic-red);
}

.manufactures-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  list-style: none;
}

.manufactures-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
}

.manufactures-list li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufactures-list li:active {
  opacity: 0.5;
}

.manufactures-list img {
  max-width: 220px;
  min-height: auto;
}

/* Блок с преимуществами */

.advantages {
  background-color: var(--basic-background);
}

.advantages-container {
  width: 940px;
  margin: 0 auto;
}

.advantages-header h3 {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-header p {
  margin: 0;
  width: 410px;
  line-height: 24px;
  color: #000000;
}

.switch {
  display: flex;
}

.switch-controls {
  position: relative;
  display: flex;
  flex-direction: column;
}

.switch-controls::after {
  position: absolute;
  right: 0;
  top: -49px;
  display: block;
  content: "";
  width: 10px;
  height: 279px;
  background-image: url("../img/advantages-decore.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-controls button {
  width: 240px;
  margin: 0;
  padding: 0;

  line-height: 30px;
  color: var(--basic-white);
  cursor: pointer;
  border: none;
  background-color: #32425c;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.switch-controls button:hover {
  background-color: #293449;
}

.switch-controls .current {
  color: #32425c;
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #ffffff;
}

.switch-controls .current:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.switch-list {
  flex-grow: 2;
  list-style: none;
}

.switch-list li {
  display: block;
  min-height: 185px;
}

.switch-list .hidden {
  display: none;
}

.switch-list .delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 0;
}

.switch-list .guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 151px 0;
}

.switch-list .credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 151px 0;
}

.switch-title {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.switch-item p {
  display: block;
  width: 310px;
  margin: 0;

  line-height: 24px;
  color: #000000;
}

/* Блок о компании */

.main-about-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}

.main-about {
  width: 478px;
}

.main-about h2 {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-about p {
  line-height: 24px;
  color: #000000;
}

.main-about p:nth-child(2) {
}

.main-about p:nth-child(3) {
  width: 385px;
}

.main-about ul {
  list-style: none;
}

.main-about li {
  position: relative;

  line-height: 24px;
  color: #000000;
}

.main-about li::before {
  position: absolute;
  top: 14px;
  left: -32px;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.main-about li:nth-child(1)::before {
  top: 16px;
}

.main-about li:nth-child(3)::before {
  top: 12px;
}

.main-about a {
  display: block;
  width: 220px;
}

/* Блок с контактами */

.main-contacts h2 {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-contacts img {
  display: block;
}

.main-contacts p {
  max-width: 181px;

  line-height: 24px;
  color: #000000;
}

.main-contacts a {
  display: block;
  width: 300px;
}

/* Общие стили красных кнопок главной страницы */

.button {
  display: inline-block;
  min-width: 192px;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-error);
}

/* Каталог хедер */

.user {
  display: inline-block;
  width: 299px;

  line-height: 21px;
  color: black;
  background-color: var(--basic-white);
  text-align: center;
}

.user:hover .user-icon,
.user:hover .logout-icon {
  fill: var(--basic-grey);
}

.user:active {
  color: var(--basic-greylight);
}

.user:active .user-icon,
.user:active .logout-icon {
  fill: var(--basic-greylight);
}

.my-orders,
.user-profile {
  line-height: 18px;
  color: #32425c;
}

.my-orders:hover,
.user-profile:hover {
  color: var(--basic-red);
}

.my-orders:active,
.user-profile:active {
  color: var(--basic-greylight);
}

.header-nav {
  margin: 0 auto;
  width: 940px;
  background-color: #32425c;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: inset 0px -5px 0px #293449;
}

.header-nav li {
  width: 100%;
  text-align: center;
}

.header-nav a {
  display: block;

  line-height: 24px;
  color: var(--basic-white);
  height: 100%;
}

.header-nav a:hover {
  background-color: #293449;
}

.header-nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Каталог основной контент */

.catalog-head-container {
  width: 940px;
  margin: 0 auto;
}

.catalog-content {
  background-color: var(--basic-white);
}

.catalog-breadcrumbs {
  display: flex;
  list-style-image: url("../img/icon-right-small.svg");
}

.catalog-breadcrumbs::before {
  display: block;
  content: "";
  width: 14px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.catalog-breadcrumbs li {
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.catalog-breadcrumbs a {
  color: black;
}

.catalog-heading {
  width: 940px;
  background-color: #f2f6f8;
}

.catalog-heading h2 {
  display: block;
  margin: 0;
  background-color: #f2f6f8;

  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-main-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.filter {
  max-width: 220px;
}

.filter h3 {
  margin: 0;
  background-color: #f7f3ec;

  text-transform: uppercase;
  line-height: 18px;
  color: #000000;
}

.filter fieldset {
  display: flex;
  width: 220px;
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset::after {
  display: block;
  content: "";
  width: 220px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.filter fieldset:last-of-type::after {
  display: none;
}

.filter legend {
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  line-height: 19px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  display: block;
  width: 220px;

  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: #000000;
  border: 1px solid #e5e5e5;
}

.catalog-main-template {
  display: grid;
  grid-template-rows: 38px 1fr 38px;
}

.sorting {
  display: flex;
  background-color: #f7f3ec;
}

.sorting h4 {
  margin: 0;

  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-list {
  list-style: none;
  display: flex;
}

.sorting-list li {
  text-transform: uppercase;
  line-height: 18px;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-list a:hover {
  color: #000;
  border-bottom: 1px solid var(--basic-red);
}

.sorting-list .active {
  color: var(--basic-red);
  border: none;
}

.item-list {
  display: grid;
  width: 700px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 220px;
  min-height: 318px;
  margin: 0;
  text-align: center;
  border: 1px solid #eaeaea;
}

.item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item h4 {
  margin: 0;

  line-height: 20px;
  color: #000000;
}

.item .old-price {
  display: block;
  width: 141px;

  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}

.item .empty {
  display: block;
  width: 141px;
  min-height: 38px;
}

.item .new-price {
  display: block;
  width: 141px;

  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
}

.item img {
  max-height: 130px;
}

.item:hover img {
  display: none;
}

.buy {
  display: none;
  width: 135px;
  position: absolute;
  top: 38px;
  background-color: #63a63e;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.to-bookmarks {
  display: none;
  width: 135px;
  position: absolute;
  top: 86px;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #32425c;
  background-color: var(--basic-white);
  border-radius: 2px;
  border: 3px solid var(--basic-green);
}

.item:hover .buy,
.item:hover .to-bookmarks {
  display: block;
}

.buy:hover {
  background-color: var(--basic-success);
}

.buy:active {
  background: #518534;
}

.to-bookmarks:active {
  color: var(--basic-greylight);
}

/* Пагинация */

.pagination {
  display: flex;
  list-style: none;
}

.pagination a {
  display: block;
  width: 38px;
  min-height: 38px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  text-transform: uppercase;
  line-height: 18px;
  color: #000000;
}

.pagination a:hover {
  border-color: var(--basic-greylight);
}

.pagination a:active {
  border-color: var(--basic-red);
}

.pagination .active {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}

.pagination .pagination-next {
  width: 140px;
}

/* О перфораторах */

.about-perforators {
  background-color: var(--basic-background);
}

.about-perforators-container {
  width: 940px;
  margin: 0 auto;
}

.about-perforators h3 {
  margin: 0;

  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-perforators p {
  width: 907px;

  line-height: 24px;
  color: #000000;
}

/* Попапы */

/* Попап с картой на главной */

.popup-adress-container {
  position: relative;
  width: 970px;
  margin: 0 auto;
  top: 100px;
}

.popup-adress {
  position: absolute;
  top: -596px;
  left: -8px;
}

.popup-adress img {
  width: 970px;
  height: 477px;
}

.popup-adress-container::after {
  position: absolute;
  display: block;
  content: "";
  background-color: var(--basic-red);
  width: 943px;
  height: 7px;
  top: -582px;
  left: 5px;
}

.btn-close {
  margin: 0;
  padding: 0;
  display: block;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup-adress-container .btn-close {
  position: absolute;
  top: 31px;
  right: 24px;
}

/* Попап с добавлением в корзину в каталоге */

.popup-added {
  width: 620px;
  min-height: 282px;
  position: fixed;
  top: 30%;
  left: 50%;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
}

.popup-added h3 {
  margin: 0;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 81px 48px;
}

.popup-added-buttons {
  min-height: 112px;
  text-align: center;
  background-color: #f1f1f1;
}

.popup-added-buttons .btn-continue {
  background-color: white;
  color: black;
}

.popup-added-buttons .btn-continue:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.popup-added .btn-close {
  position: absolute;
  top: 11px;
  right: 11px;
}

/* Футер */

.footer-top {
  background-color: #32425c;
}

.footer-top-wraper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-bottom p {
  display: inline-block;
}

.footer-bottom-wraper {
  display: flex;
  height: 100%;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-img {
  display: inline-block;
  width: 220px;
  background-color: var(--basic-red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid var(--basic-error);
}

.footer-logo {
  display: inline-block;
}

.footer-top-line1,
.footer-top-line2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-line2 {
}

/* Навигация и меню футера */

.footer-nav,
.footer-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li,
.footer-menu li {
  text-align: center;
}

.footer-nav li:last-child,
.footer-menu li:last-child {
}

.footer-nav a,
.footer-menu a {
  line-height: 24px;
}

.footer-nav a {
  color: #f1f5f7;
}

.footer-menu a {
  color: var(--basic-yellowlight);
}

.footer-nav a:hover,
.footer-menu a:hover {
  text-decoration: underline;
}

.footer-nav a:active,
.footer-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Контакты в футере */

.footer-contacts address,
.footer-contacts a {
  line-height: 24px;
  align-items: center;
  color: #f3f7f9;
}

/*  Нижняя часть футера */

.footer-bottom {
  display: block;
  background-color: #293449;
}

.footer-bottom p {
  line-height: 18px;
  color: var(--basic-white);
}

.footer-bottom ul {
  list-style: none;
}

.social {
  display: flex;
  flex-direction: row;
  width: 134px;
  justify-content: space-between;
}

.social a {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social a:hover,
.social a:active {
  background-color: var(--basic-red);
}

.footer-bottom .social-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-bottom .social-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-bottom .social-ig {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback,
.copyright {
  line-height: 18px;
  color: var(--basic-yellowlight);
}

.feedback:hover,
.copyright:hover {
  text-decoration: underline;
}

.feedback:active,
.copyright:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Попапы и скрытые стили */

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
