:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-yellow: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-lilac: #DC91D8;
  --basic-greenlight: #8ED78F;
  --basic-yellowlight: #FFD180;
  --basic-success: #5FBB2D;
  --basic-warning: #FFBF47;
  --basic-error: #BA2732;
  --basic-lightgrey: #EAEAEA;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Хедер общий */

.header-top {
  background-color: #293449;
}

.header-logo {
  background-color: var(--basic-red);
}

.header-logo:active {
  background-color: var(--basic-error);
}

.header-top path,
circle {
  opacity: 0.3;
}

.search-form input:focus {
  background-color: var(--basic-white);
  color: black;
}

.search-form input {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  color: var(--basic-white);
  background-color: #293449;
  border: none;
}

input::-webkit-input-placeholder {
  color: var(--basic-white);
}

input::-moz-placeholder {
  color: var(--basic-white);
}

.search-form:hover .search-icon {
  opacity: 1;
}

.search-form input:focus {
  fill: var(--basic-red);
}

.header-top a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--basic-white);
}

.header-top a:active {
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.header-link:hover .bookmark-icon,
.header-link:hover .cart-icon {
  opacity: 1;
}

.header-link:active .bookmark-icon,
.header-link:active .cart-icon {
  opacity: 0.3;
}

.added {
  background-color: var(--basic-red);
}

.header-top .order {
  background-color: var(--basic-success);
}

.header-top .order:active {
  background-color: var(--basic-green);
}

.header-about h1 {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.catalog-breadcrumbs {
  list-style-image: url("../img/icon-right-small.svg");
}

.catalog-breadcrumbs::before {
  display: block;
  content: '';
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
}

.catalog-breadcrumbs li {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.catalog-breadcrumbs a {
  color: black;
}

.phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.phone a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-about address {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
}

.logged {
  list-style: none;
}

.logged-in {
  list-style: none;
}

.logged-in li:last-child {
  list-style: outside;
  color: #32425C;
}

.logged-in li:last-child:hover {
  list-style: outside;
  color: var(--basic-red);
}

.logged-in li:last-child:active {
  list-style: outside;
  color: var(--basic-greylight);
}

.login,
.registration {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: var(--basic-white);
}

.login:hover,
.registration:hover {
  color: var(--basic-red);
}

.login:active,
.registration:active {
  color: var(--basic-greylight);
}

.login:hover .login-icon {
  fill: var(--basic-grey);
}

.login:active .login-icon {
  fill: var(--basic-greylight);
}

/* Основной контент главной страницы */

/* Блок с преимуществами */

.main-about h2 {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-about p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.main-about ul {
  list-style-image: url(../img/dash.svg);
}

.main-about li {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* Блок с контактами */

.main-contacts h2 {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-contacts p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/* Общие стили красных кнопок главной страницы */

.button {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-error);
}

/* Каталог хедер */

.user {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: black;
}

.user:hover .user-icon,
.user:hover .logout-icon {
  fill: var(--basic-grey);
}

.user:active {
  color: var(--basic-greylight);
}

.user:active .user-icon,
.user:active .logout-icon {
  fill: var(--basic-greylight);
}

.my-orders,
.user-profile {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.my-orders:hover,
.user-profile:hover {
  color: var(--basic-red);
}

.my-orders:active,
.user-profile:active {
  color: var(--basic-greylight);
}

.header-nav {
  background-color: #32425C;
}

.header-nav ul {
  list-style: none;
}

.header-nav a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.header-nav a:hover {
  background-color: #293449;
}

.header-nav a:active {
  color: rgba(255, 255, 255, 0.5)
}

/* Каталог основной контент */

.catalog-content {
  background-color: var(--basic-white);
}

.catalog-heading {
  background-color: #F2F6F8;
}

.catalog-heading h2 {
  background-color: #F2F6F8;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  text-transform: uppercase;
}

.filter legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: #000000;
}

.item-list {
  list-style: none;
}

.item h4 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item .old-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.item .new-price {
  width: 141px;
  height: 38px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-image: url(../img/red-button.svg);
  vertical-align: baseline;
  background-repeat: no-repeat;
}

.buy {
  background-color: #63A63E;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.buy:hover {
  background-color: var(--basic-success);
}

.buy:active {
  background: #518534;
}

.to-bookmarks {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #32425C;
  background-color: var(--basic-white);
}

.to-bookmarks:active {
  color: var(--basic-greylight);
}

/* Футер */

.footer-top {
  background-color: #32425C;
}

.footer-logo {
  background-color: var(--basic-red);
}

/* Навигация и меню футера */

.footer-nav,
.footer-menu {
  list-style: none;
}

.footer-nav a,
.footer-menu a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  color: #F1F5F7;
}

.footer-menu a {
  color: var(--basic-yellowlight);
}

.footer-nav a:hover,
.footer-menu a:hover {
  text-decoration: underline;
}

.footer-nav a:active,
.footer-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Контакты в футере */

.footer-contacts address,
.footer-contacts a {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #F3F7F9;
}

/*  Нижняя часть футера */

.footer-bottom {
  background-color: #293449;
}

.footer-bottom p {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-bottom ul {
  list-style: none;
}

.social a {
  background-color: #212A3A;
}

.social a:hover,
.social a:active {
  background-color: var(--basic-red);
}

.footer-bottom .social-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-bottom .social-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-bottom .social-ig {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feedback,
.copyright {  
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellowlight);
}

.feedback:hover,
.copyright:hover {
  text-decoration: underline;
}
.feedback:active,
.copyright:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Попапы и скрытые стили */

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
