:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-yellow: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-lilac: #DC91D8;
  --basic-greenlight: #8ED78F;
  --basic-yellowlight: #FFD180;
  --basic-success: #5FBB2D;
  --basic-warning: #FFBF47;
  --basic-error: #BA2732;
  --basic-lightgrey: #EAEAEA;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, p {
  margin: 0;
  padding: 0;
}

/* Grid */

.page {
  height: 100%;
  min-width: 960px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Хедер общий */

header {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0 auto;
  background-color: #293449;
}

.header-top-wraper {
  display: flex;
  justify-content: space-between;
  width: 960px;
  max-height: 42px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header-logo {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 13px;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: var(--basic-error);
}

.header-top path, circle {
  opacity: 0.3;
}

.search-form {
  display: inline;
}

.search-form input:focus {
  background-color: var(--basic-white);
  color: black;
  border: none;
  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
}

.search-form input {
  width: 271px;
  border: none;
  outline: none;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  color: var(--basic-white);
  background-color: #293449;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: none;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
}

input::-webkit-input-placeholder {
  color: var(--basic-white);
}

input::-moz-placeholder {
  color: var(--basic-white);
}

.search-form:hover .search-icon {
  opacity: 1;
}

.search-form input:focus {
  fill: var(--basic-red);
}

.header-top a {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--basic-white);
}

.header-top a:active {
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.bookmarks {
  padding-top: 10px;
  margin-left: 19px;
}

.cart {
  width: 136px;
  text-align: center;
  padding-top: 10px;
}

.added {
  background-color: var(--basic-red);
}

.header-link:hover .bookmark-icon, .header-link:hover .cart-icon {
  opacity: 1;
}

.header-link:active .bookmark-icon, .header-link:active .cart-icon {
  opacity: 0.3;
}

.added {
  background-color: var(--basic-red);
}

.header-top .order {
  box-sizing: border-box;
  background-color: var(--basic-success);
  width: 150px;
  padding-top: 9px;
  text-align: center;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.header-top .order:active {
  background-color: var(--basic-green);
}

.header-about {
  display: flex;
  min-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.header-about h1 {
  display: inline-block;
  width: 227px;
  margin: 0;
  padding-left: 30px;
  margin-top: 42.5px;
  margin-bottom: 43.5px;
  font-family: 'Cuprum', 'Arial';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-red);
}

.contact-info {
  text-align: center;
}

.phone {
  width: 270px;
  margin-top: 47px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid white;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
}

.phone a {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-about address {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
}

.logged, .logged-in {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.logged {
  margin-left: 69px;
}

.logged-in {
  list-style: none;
  width: 299px;
  flex-wrap: wrap;
  margin-top: 46px;
}

.logged-in li:nth-child(1) {
  width: 299px;
}

.logged-in li:nth-child(2) {
  margin-top: -30px;
  margin-left: 50px;
}

.logged-in li:nth-child(3) {
  margin-top: -30px;
  margin-right: 50px;
}

.logged-in li:last-child {
  list-style: outside;
  color: #32425C;
}

.logged-in li:last-child:hover {
  list-style: outside;
  color: var(--basic-red);
}

.logged-in li:last-child:active {
  list-style: outside;
  color: var(--basic-greylight);
}

.login, .registration {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: var(--basic-white);
}

.login {
  display: block;
  text-align: center;
  width: 121px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 46px;
  margin-right: 10px;
}

.registration {
  display: block;
  text-align: center;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 46px;
}

.login:hover, .registration:hover {
  color: var(--basic-red);
}

.login:active, .registration:active {
  color: var(--basic-greylight);
}

.login:hover .login-icon {
  fill: var(--basic-grey);
}

.login:active .login-icon {
  fill: var(--basic-greylight);
}

/* Основной контент главной страницы */

/* Блок с карточками и слайдером */

.products {
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
}

.products-items {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  list-style: none;
}

.products-items h3 {
  margin: 0;
  padding-left: 22px;
  padding-top: 20px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.products-items a {
  display: block;
  width: 135px;
  margin-left: 22px;
  margin-top: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
}

.products-items p {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.product-material {
  background-image: url("..//img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-color: #FFBF47;
}

.product-tool {
  background-image: url("..//img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 194px 31px;
  background-color: #3BBCE3;
}

.product-tech {
  background-image: url("..//img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-color: #DC91D8;
}

.product-slider {
  position: relative;
  width: 620px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #645A58;
}

.product-slider .slide-button {
  display: block;
  position: absolute;
  left: 24px;
  bottom: 27px;
  width: 192px;
  background-color: var(--basic-red);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-perforator {
  background-image: url("../img/perforator-slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide-drill {
  background-image: url("../img/drill-slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider .slide-title {
  margin: 0;
  padding-top: 23px;
  padding-left: 24px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider p {
  padding-left: 24px;
  padding-top: 5px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: #EE3643;
}

.product-sale {
  background-image: url("..//img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 31px;
  grid-column-start: 3;
  grid-row-start: 2;
  background-color: #8ED78F;
}

.product-delivery {
  background-image: url("..//img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  grid-column-start: 3;
  grid-row-start: 3;
  background-color: #FFC047;
}

/* Блок с популярными товарами */

.popular-items {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
}

.popular-items-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 19px;
  padding-top: 29px;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: #F9F5F0;
}

.popular-items-header h2 {
  margin: 0;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
}

.popular-items-header a {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--basic-red);
}

.popular-list {
  display: grid;
  width: 940px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
}

/* Блок с популярными производителями */

.popular-manufactures {
  margin-top: 70px;
}

.popular-manufactures-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 19px;
  padding-top: 29px;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: #F9F5F0;
}

.popular-manufactures-header h2 {
  margin: 0;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
}

.popular-manufactures-header a {
  min-width: 192px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--basic-red);
}

.manufactures-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  list-style: none;
}

.manufactures-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  min-height: 145px;
  border: 1px solid #EAEAEA;
}

.manufactures-list img {
  max-width: 220px;
  min-height: auto;
}

/* Блок с преимуществами */

.advantages {
  margin-top: 70px;
  padding-top: 64px;
  padding-bottom: 99px;
  background-color: var(--basic-background);
}

.advantages-container {
  width: 940px;
  margin: 0 auto;
}

.advantages-header h3 {
  margin: 0;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-header p {
  margin: 0;
  margin-top: 25px;
  width: 410px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.switch {
  display: flex;
  margin-top: 70px;
}

.switch-controls {
  position: relative;
  display: flex;
  flex-direction: column;
}

.switch-controls::after {
  position: absolute;
  right: 0;
  top: -49px;
  display: block;
  content: '';
  width: 10px;
  height: 279px;
  background-image: url("../img/advantages-decore.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-controls button {
  width: 240px;
  margin: 0;
  padding: 0;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  cursor: pointer;
  border: none;
  background-color: #32425C;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.switch-controls button:hover {
  background-color: #293449;
}

.switch-controls .current {
  color: #32425C;
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.switch-controls .current:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.switch-list {
  flex-grow: 2;
  margin-left: 80px;
  list-style: none;
}

.switch-list li {
  display: block;
  min-height: 185px;
}

.switch-list .hidden {
  display: none;
}

.switch-list .delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 0;
}

.switch-list .guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 151px 0;
}

.switch-list .credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 151px 0;
}

.switch-title {
  margin: 0;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
}

.switch-item p {
  display: block;
  width: 310px;
  margin: 0;
  margin-top: 30px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/* Блок о компании */

.main-about-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 70px;
}

.main-about {
  width: 478px;
}

.main-about h2 {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-about p {
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.main-about p:nth-child(2) {
  padding-bottom: 32px;
}

.main-about ul {
  padding-left: 30px;
  list-style-image: url("../img/dash.svg");
}

.main-about li {
  margin-bottom: 12px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* Блок с контактами */

.main-contacts h2 {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-contacts img {
  display: block;
  margin-bottom: 25px;
}

.main-contacts p {
  max-width: 181px;
  margin-bottom: 32px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/* Общие стили красных кнопок главной страницы */

.button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 26px;
  padding-right: 26px;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-error);
}

/* Каталог хедер */

.user {
  display: inline-block;
  width: 299px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: var(--basic-white);
  text-align: center;
}

.user:hover .user-icon, .user:hover .logout-icon {
  fill: var(--basic-grey);
}

.user:active {
  color: var(--basic-greylight);
}

.user:active .user-icon, .user:active .logout-icon {
  fill: var(--basic-greylight);
}

.my-orders, .user-profile {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.my-orders:hover, .user-profile:hover {
  color: var(--basic-red);
}

.my-orders:active, .user-profile:active {
  color: var(--basic-greylight);
}

.header-nav {
  margin: 0 auto;
  width: 940px;
  background-color: #32425C;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
  padding-left: 52px;
  padding-right: 47px;
  list-style: none;
}

.header-nav li {
  width: 100%;
  text-align: center;
}

.header-nav a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  height: 100%;
}

.header-nav a:hover {
  background-color: #293449;
}

.header-nav a:active {
  color: rgba(255, 255, 255, 0.5)
}

/* Каталог основной контент */

.catalog-head-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 17px;
}

.catalog-content {
  background-color: var(--basic-white);
}

.catalog-breadcrumbs {
  display: flex;
  list-style-image: url("../img/icon-right-small.svg");
}

.catalog-breadcrumbs::before {
  display: block;
  content: '';
  width: 14px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.catalog-breadcrumbs li {
  margin-left: 17px;
  padding-right: 17px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.catalog-breadcrumbs a {
  color: black;
}

.catalog-heading {
  width: 940px;
  margin-top: 20px;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 29px;
  background-color: #F2F6F8;
}

.catalog-heading h2 {
  display: block;
  margin: 0;
  background-color: #F2F6F8;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  text-transform: uppercase;
}

.catalog-main-container {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.filter {
  max-width: 220px;
}

.filter h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background-color: #F7F3EC;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.filter fieldset {
  display: flex;
  width: 220px;
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  display: block;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: #000000;
  border: 1px solid #E5E5E5;
}

.catalog-main-template {
  display: grid;
  grid-template-rows: 38px 1fr 38px;
}

.sorting {
  margin-left: 20px;
  display: flex;
  background-color: #F7F3EC;
}

.sorting h4 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-list {
  margin-left: 140px;
  list-style: none;
  display: flex;
}

.sorting-list li {
  margin-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-list a:hover {
  color: #000;
  border-bottom: 1px solid var(--basic-red);
}

.sorting-list .active {
  color: var(--basic-red);
  border: none;
}

.item-list {
  margin-top: 28px;
  margin-bottom: 48px;
  display: grid;
  width: 700px;
  margin-left: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 220px;
  min-height: 318px;
  margin: 0;
  padding-bottom: 21px;
  text-align: center;
  border: 1px solid #EAEAEA;
}

.item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item h4 {
  margin: 0;
  margin-top: 28px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item .old-price {
  display: block;
  width: 141px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.item .empty {
  display: block;
  width: 141px;
  min-height: 38px;
}

.item .new-price {
  display: block;
  width: 141px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 13px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
}

.item img {
  max-height: 130px;
}

.item:hover img {
  display: none;
}

.buy {
  display: none;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 38px;
  background-color: #63A63E;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.to-bookmarks {
  display: none;
  width: 135px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  top: 86px;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #32425C;
  background-color: var(--basic-white);
  border-radius: 2px;
  border: 3px solid var(--basic-green);
}

.item:hover .buy, .item:hover .to-bookmarks {
  display: block;
}

.buy:hover {
  background-color: var(--basic-success);
}

.buy:active {
  background: #518534;
}

.to-bookmarks:active {
  color: var(--basic-greylight);
}

/* Пагинация */

.pagination {
  margin-left: 20px;
  display: flex;
  list-style: none;
}

.pagination a {
  margin-right: 10px;
  display: block;
  width: 38px;
  min-height: 38px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.pagination a:hover {
  border-color: var(--basic-greylight);
}

.pagination a:active {
  border-color: var(--basic-red);
}

.pagination .active {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}

.pagination .pagination-next {
  width: 140px;
  margin-right: 0;
}

/* О перфораторах */

.about-perforators {
  background-color: var(--basic-background);
}

.about-perforators-container {
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-perforators h3 {
  margin: 0;
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-perforators p {
  margin-top: 25px;
  width: 907px;
  font-family: 'PT Sans', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/* Футер */

.footer-top {
  background-color: #32425C;
  padding-bottom: 54px;
}

.footer-top-wraper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-bottom p {
  display: inline-block;
}

.footer-bottom-wraper {
  display: flex;
  height: 100%;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-img {
  display: inline-block;
  width: 220px;
  background-color: var(--basic-red);
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid var(--basic-error);
}

.footer-logo {
  display: inline-block;
}

.footer-top-line1, .footer-top-line2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-line2 {
  margin-top: 22px;
}

/* Навигация и меню футера */

.footer-nav, .footer-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li, .footer-menu li {
  text-align: center;
  padding-left: 29px;
  padding-right: 29px;
}

.footer-nav li:last-child, .footer-menu li:last-child {
  padding-right: 0;
}

.footer-nav a, .footer-menu a {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  color: #F1F5F7;
}

.footer-menu a {
  color: var(--basic-yellowlight);
}

.footer-nav a:hover, .footer-menu a:hover {
  text-decoration: underline;
}

.footer-nav a:active, .footer-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Контакты в футере */

.footer-contacts address, .footer-contacts a {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #F3F7F9;
}

/*  Нижняя часть футера */

.footer-bottom {
  display: block;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: #293449;
}

.footer-bottom p {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-bottom ul {
  list-style: none;
}

.social {
  display: flex;
  flex-direction: row;
  width: 134px;
  justify-content: space-between;
}

.social a {
  display: block;
  font-size: 0;
  width: 44px;
  height: 44px;
  background-color: #212A3A;
  border-radius: 50%;
}

.social a:hover, .social a:active {
  background-color: var(--basic-red);
}

.footer-bottom .social-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-bottom .social-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-bottom .social-ig {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback, .copyright {
  font-family: 'Cuprum', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellowlight);
}

.feedback:hover, .copyright:hover {
  text-decoration: underline;
}

.feedback:active, .copyright:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Попапы и скрытые стили */

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}